body{
    font-family: "DM Sans", sans-serif;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
section{
    border-radius: 20px;
    width: 800px;
    border: solid 1px white;
    padding: 20px;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    /* margin: 20px 0 10px; */
}
.ano{
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.resenha{
    display: flex;
    gap: 20px;
    /* align-items: flex-start; */
    margin-bottom: 30px;
}
.resenha .texto{
    max-width: 450px;
}
.resenha h2{
    margin: 0;
    text-align: justify;
}
img{
    border-radius: 20px;
}
.avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 24px;
}
.seta{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    transition: 0.3s ease;
}
.estrela {
    color: gold;
}

.nota {
    margin-left: 10px;
    font-size: 18px;
    color: white;
}
